/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$brand-primary: darken(red, 6.5%) !default; // #337ab7
$grid-gutter-width: 15px;

// Install Bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

 nav{
   ul{
     list-style: none;
   }
 }

 .wrapper{
   background: #bbb url('http://unsplash.it/2000/2000') no-repeat;
   background-size: cover;
 }

 .img-container{
   img{
     max-width: 100%;
   }
 }





/* */
